<form action="" id="form-tabla">
    <table>
        <app-menu></app-menu>
        <ul>
            <h4>Fecha Consulta: </h4>
        </ul>
        <ul>
            <thead>
                <tr>
                  <th scope="col">Nombre</th>
                  <th scope="col">Abreviature</th>
                  <th scope="col">Precio</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                    <td>Bitcoin</td>
                    <td>BTC</td>
                    <td>0.000031922371</td>
                </tr>
                <tr>
                    <td>Colombian Peso</td>
                    <td>COP</td>
                    <td>3620.70</td>
                </tr>
                <tr>
                    <td>Euro</td>
                    <td>EUR</td>
                    <td>0.82688</td>
                </tr>
                <tr>
                    <td>United Arab Emirates Dirtham</td>
                    <td>AED</td>
                    <td>3.673</td>
                </tr>
            </tbody>
        </ul>
    </table>
</form>