<form class="form-formulario">
    <table>
        <app-menu></app-menu>
        <ul>
            <h4>Monto</h4>
            <input type="number" min="1" pattern="^[0+9]+">
        </ul>
        <ul>
            <h4>Moneda Origen</h4>
            <select name="" id="" >
                
            </select>
        </ul>
        <ul>
            <h4>Moneda Objetivo</h4>
            <select name="" id="">
                <option value="colombia-peso-2">Colombia Peso (COP)</option>
                <option value="united-states-dollar-2">United States Dollar (USD)</option>
                <option value="bitcoin-2">Bitcoin (BTC)</option>
            </select>
        </ul>
        <ul>
            <button type="submit" value="Convertir">Convertir</button>
        </ul>
    </table>
</form>
